body{
    background-color: cyan;
}

/* Formatação em Desktop */

.search-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    max-width: 500px;
    width: 100%;
    margin-left: auto;
}

.search-box{
    flex-grow: 1;
    width: 70%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.search-button{
    width: 60px;
    padding: 10px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    flex-shrink: 0;
}

 /* Responsividade para outros tamanhos de tela */

 @media (max-width: 600px) {
    .search-container {
      flex-direction: row; 
      
    }
    .search-box {
      width: 50%;
      border-radius: 4px;
      margin: 5px 0;
    }
    .search-button {
      width: 60px; 
      border-left: 1px solid;
      color: white;
    }
}





