body{
    background-color: cyan;
}

/* Formatação em Desktop */

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.search-box{
    width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.search-button{
    padding: 10px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

/* Responsividade para outros tamanhos de tela */

@media (max-width: 600px){
    .search-container{
        flex-direction: column;
    }

    .search-box{
        border-radius: 4px;
        margin: 5px 0;
    }

    .search-button{
        border-left: 1px solid;
        background-color: red;
        color: white;
    }
}